html {
  box-sizing: border-box;
  overflow-y: scroll;
}

/* Metropolis Thin - 100 */
@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-ThinItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Metropolis ExtraLight - 200 */
@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-ExtraLight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-ExtraLightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Metropolis Light - 300 */
@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Metropolis Regular - 400 */
@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-RegularItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Metropolis Medium - 500 */
@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Metropolis SemiBold - 600 */
@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-SemiBoldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Metropolis Bold - 700 */
@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-BoldItalic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Metropolis ExtraBold - 800 */
@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-ExtraBold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-ExtraBoldItalic.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Metropolis Black - 900 */
@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/metropolis/Metropolis-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Metropolis", sans-serif;
}

:root {
  --primary-color: #333333;
  --secondary-color: #707070;
  --tertiary-color: #858585;
  --quaternary-color: #e5e5e5;
  --quinary-color: #f5f5f5;
  /* --primary-color: #484b6a;
  --secondary-color: #656870;
  --tertiary-color: #aeafb9;
  --quaternary-color: #e4e5f1;
  --quinary-color: #f3f3f3; */

  --success-color: #008236;
  --error-color: #fb2c36;

  --navbar-width: 320px;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: var(--secondary-color) 2px solid;
}