.block {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.blockItem {
  border: 1px solid var(--quaternary-color);
  column-span: 1;
  border-radius: 8px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
}

.blockItemLeft {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.blockItem:not(:last-child) {
  border-right: 1px solid var(--quaternary-color);
}

.blockItemTitle {
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 16px;
}

.blockItemRight {
  color: var(--primary-color);
}

.blockItemValue {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
}











