.block {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.blockItem {
  border: 1px solid var(--quaternary-color);
  grid-column: span 1;
  border-radius: 8px;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
}

.blockItemLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.blockItem:not(:last-child) {
  border-right: 1px solid var(--quaternary-color);
}

.blockItemTitle {
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 1rem;
}

.blockItemRight {
  color: var(--primary-color);
}

.blockItemValue {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}



@media (max-width: 1300px) {
  .blockItem {
    grid-column: span 2;
  }
}

@media (max-width: 500px) {
  .blockItem {
    grid-column: span 4;
  }
}
