.employees {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.employeesGraphs {
  display: flex;
  gap: 1rem;
}

.employeesDepartmentsGraphs {
  flex: 7;
}

.employeesEmploymentTypesGraphs {
  flex: 5;
}


.employmentType {
  padding: .25rem .5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: capitalize;
}

.employmentType.full-time {
  background-color: #d0fae5;
  border-color: #a4f4cf;
  color: #006045;
}

.employmentType.part-time {
  background-color: #fef3c6;
  border-color: #fee685;
  color: #973c00;
}

.employmentType.contract {
  background-color: #dff2fe;
  border-color: #b8e6fe;
  color: #193cb8;
}

.employmentType.intern {
  background-color: #f0e0ff;
  border-color: #e0c0ff;
  color: #4f009e;
}



@media (max-width: 1060px) {
  .employeesDepartmentsGraphs {
    display: none;
  }

  .employeesEmploymentTypesGraphs {
    flex: 1;
  }
}




