.barGraph {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 0 0.625rem;
  height: 100%;
}

.barGraphItem {
  display: contents;
}

.barGraphItemValues {
  display: flex;
  justify-content: center;
  gap: 0.125rem;
  grid-row: 1;
}

.barGraphItemValueContainer {
  display: flex;
  flex-direction: column-reverse;
}

.barGraphItemValue {
  width: var(--width);
  border-radius: 4px 4px 0 0;
  background: linear-gradient(
    to bottom, 
    var(--color) 20%, 
    color-mix(in srgb, var(--color) 50%, transparent) 100%
  );
}

.barGraphLabelText {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--tertiary-color);
  text-align: center;
  grid-row: 2;
  transition: color 0.3s ease;
  padding-top: 10px;
}

.barGraphItem.label-last:last-child .barGraphLabelText {
  color: var(--primary-color);
}

.barGraphItem.label-on-hover {
  cursor: pointer;
}

.barGraphItem.label-on-hover:hover .barGraphLabelText {
  color: var(--primary-color);
}
