.lineGraph {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.lineGraphLabels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.3125rem;
}

.lineGraphLabelText {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--tertiary-color);
}

.lineGraphLabelText:last-child {
  color: var(--primary-color);
}