.payroll {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.status {
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  border-width: 2px;
  border-style: solid;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.status.received {
  background-color: #d0fae5;
  border-color: #a4f4cf;
  color: #006045;
}

.status.pending {
  background-color: #fef3c6;
  border-color: #fee685;
  color: #973c00;
}

.status.failed {
  background-color: #ffe2e2;
  border-color: #ffc9c9;
  color: #9f0712;
}

.status.processed {
  background-color: #dff2fe;
  border-color: #b8e6fe;
  color: #193cb8;
}


